// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: Modern;
  src: url('./assets/fonts/modern.otf');
}

@font-face {
  font-family: Goose;
  src: url('./assets/fonts/goose.ttf');
}